/*
  Icon Font: svg2
*/



@font-face {
  font-family: "svg2";
  src: url("../fonts/svg2.eot?5c0ce548dbae5ece1590da196988bd51");
  src: url("../fonts/svg2.eot?5c0ce548dbae5ece1590da196988bd51#iefix") format("embedded-opentype"),
       url("../fonts/svg2.woff?5c0ce548dbae5ece1590da196988bd51") format("woff"),
       url("../fonts/svg2.ttf?5c0ce548dbae5ece1590da196988bd51") format("truetype"),
       url("../fonts/svg2.svg?5c0ce548dbae5ece1590da196988bd51#svg1") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "svg2";
    src: url("../fonts/svg2.svg?5c0ce548dbae5ece1590da196988bd51#svg1") format("svg");
  }
}

.icon {
  display: inline-block;
  font-family: "svg2";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-modify:before { content: "\f100"; }
.icon-record:before { content: "\f101"; }
